---
import BaseLayout from "@components/base/BaseLayout.astro";
import { upperHumanize } from "@lib/textConverter";
import PageHeader from "@components/common/PageHeader.astro";
import ProjectCard from "@components/projects/Card.astro";
import type { GenericEntry } from "@/types";

interface Props {
  taxonomy: string;
  taxon: string;
  entries: GenericEntry[];
  collection?: string;
}

const { taxonomy, taxon, entries, collection = "projects" }: Props = Astro.props;
---

<BaseLayout title={`${upperHumanize(taxon)} (${upperHumanize(taxonomy)})`}>
  <PageHeader title={`${upperHumanize(taxon)} (${upperHumanize(taxonomy)})`} />
  <section class="section">
    <div class="container">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        {
          entries.map((entry: GenericEntry) => (
            <ProjectCard entry={entry} folder={collection} />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
